<% provide(:title, 'Sign In') %>
<article>
	<h1>Sign In</h1>
	<ul>
		<% flash.each do |name, msg| %>
			<li>
				<%= content_tag :span, msg, :id => "flash_#{name}", class: "" %>
			</li>
		<% end %>
	</ul>
	<%= form_tag signin_path, options = { class: "center flex third" } do %>
  	<label>
	 		<%= text_field_tag :identifier, params[:identifier], class: "", placeholder: "Login or Email" %>
  	</label>
  	<label>
			<%= password_field_tag :password, nil, class: "", placeholder: "Password" %>  		
  	</label>
  	<label>
    	<%= check_box_tag :remember_me %>
      <span class="checkable">Remember me</span>
      </label>
  	<label>
			<%= submit_tag "Sign In", class: "" %>
  	</label>
	<% end %>
</article>
