<div class="uk-section uk-section-media uk-light uk-background-cover"  style="background-image: url(pictures/jordan-mcqueen-31296.jpg);">
	<div class="uk-container">
		<div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
			<div>
				<h1 class="uk-heading-primary">Created for Patsans*</h1>
				<p>Build your very own raspisanye to make all the huynya right the way!</p>
				<p><small>*базарю охуенная тема регайся не ссы</small></p>
			</div>
			<div>
				<%= form_tag signin_path, options = { class: "" } do %>
					<div class="uk-margin">
						<%= text_field_tag :identifier, params[:identifier], class: "uk-input", placeholder: "Login or Email" %>					
					</div>
					<div class="uk-margin">
						<%= password_field_tag :password, nil, class: "uk-input", placeholder: "Password" %>				
					</div>
					<div class="uk-margin">
						<label>
						<%= check_box_tag :remember_me, options = { class: "uk-checkbox" } %> Remember Me
						</label>
					</div>
					<div class="uk-margin">
						<%= submit_tag "Sign In", class: "uk-button uk-button-default" %> or <%= link_to "Sign Up", signup_path, class: "uk-button uk-button-default" %>			
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
							
