<% provide(:title, 'Sign Up') %>
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
      <div>
        <%= form_for @user, url: signup_path do |f| %>
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <%= f.text_field :email, options = { class: "uk-input", placeholder: "Email" } %>
            <% if @user.errors[:email].any? %>
            <ul class="validation-errors">
              <% for email_error in @user.errors[:email] %>
              <li><%= email_error %></li>
              <% end %>
            </ul>
            <% end %>
          </div>
          <div class="uk-margin">
            <%= f.text_field :login, options = { class: "uk-input", placeholder: "Login" }  %>
            <% if @user.errors[:login].any? %>
            <ul class="validation-errors">
              <% for login_error in @user.errors[:login] %>
              <li><%= login_error %></li>
              <% end %>
            </ul>
            <% end %>
          </div>
          <div class="uk-margin">
            <%= f.password_field :password, options = { class: "uk-input", placeholder: "Password" } %>
            <% if @user.errors[:password].any? %>
            <ul class="validation-errors">
              <% for password_error in @user.errors[:password] %>
              <li><%= password_error %></li>
              <% end %>
            </ul>
            <% end %>
          </div>
          <div class="uk-margin">
            <%= f.password_field :password_confirmation, options = { class: "uk-input", placeholder: "Password Confirmation" } %>
            <% if @user.errors[:password_confirmation].any? %>
            <ul class="validation-errors">
              <% for password_confirmation_error in @user.errors[:password_confirmation] %>
              <li><%= password_confirmation_error %></li>
              <% end %>
            </ul>
            <% end %>
          </div>
          <div class="uk-margin">
            <%= f.submit "Sign Up", :class => "uk-button uk-button-default" %>
          </div>
        </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
