<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
      <div>
        <h2>
        <%= @schedule.title %>
        <%= link_to 'add event', new_user_schedule_event_path(user_id: current_user.id, schedule_id: @schedule.id), html_options = { class: "label" } %></h2>
        <div class="grid">
          <div class="cell grid-header">header</div>
          <div class="cell row1 col1"></div>
          <div class="cell row1 col2">Monday</div>
          <div class="cell row1 col3">Tuesday</div>
          <div class="cell row1 col4">Wednesday</div>
          <div class="cell row1 col5">Thursday</div>
          <div class="cell row1 col6">Friday</div>
          <div class="cell row1 col7">Saturday</div>
          
          <% @monday = @events_hash[Week.monday] %>
          <% @tuesday = @events_hash[Week.tuesday] %>
          <% @wednesday = @events_hash[Week.wednesday] %>
          <% @thursday = @events_hash[Week.thursday] %>
          <% @friday = @events_hash[Week.friday] %>
          <% @saturday = @events_hash[Week.saturday] %>
          <div class="cell row2 col1">1</div>
          <div class="item row2 col2"><article><%= render partial: "events/event", object: @monday[0] %></article></div>
          <div class="item row2 col3"><article><%= render partial: "events/event", object: @tuesday[0] %></article></div>
          <div class="item row2 col4"><article><%= render partial: "events/event", object: @wednesday[0] %></article></div>
          <div class="item row2 col5"><article><%= render partial: "events/event", object: @thursday[0] %></article></div>
          <div class="item row2 col6"><article><%= render partial: "events/event", object: @friday[0] %></article></div>
          <div class="item row2 col7"><article><%= render partial: "events/event", object: @saturday[0] %></article></div>
          
          <div class="cell row3 col1">2</div>
          <div class="item row3 col2"><article><%= render partial: "events/event", object: @monday[1] %></article></div>
          <div class="item row3 col3"><article><%= render partial: "events/event", object: @tuesday[1] %></article></div>
          <div class="item row3 col4"><article><%= render partial: "events/event", object: @wednesday[1] %></article></div>
          <div class="item row3 col5"><article><%= render partial: "events/event", object: @thursday[1] %></article></div>
          <div class="item row3 col6"><article><%= render partial: "events/event", object: @friday[1] %></article></div>
          <div class="item row3 col7"><article><%= render partial: "events/event", object: @saturday[1] %></article></div>
          
          <div class="cell row4 col1">3</div>
          <div class="item row4 col2"><article><%= render partial: "events/event", object: @monday[2] %></article></div>
          <div class="item row4 col3"><article><%= render partial: "events/event", object: @tuesday[2] %></article></div>
          <div class="item row4 col4"><article><%= render partial: "events/event", object: @wednesday[2] %></article></div>
          <div class="item row4 col5"><article><%= render partial: "events/event", object: @thursday[2] %></article></div>
          <div class="item row4 col6"><article><%= render partial: "events/event", object: @friday[2] %></article></div>
          <div class="item row4 col7"><article><%= render partial: "events/event", object: @saturday[2] %></article></div>
          
          <div class="cell row5 col1">4</div>
          <div class="item row5 col2"><article><%= render partial: "events/event", object: @monday[3] %></article></div>
          <div class="item row5 col3"><article><%= render partial: "events/event", object: @tuesday[3] %></article></div>
          <div class="item row5 col4"><article><%= render partial: "events/event", object: @wednesday[3] %></article></div>
          <div class="item row5 col5"><article><%= render partial: "events/event", object: @thursday[3] %></article></div>
          <div class="item row5 col6"><article><%= render partial: "events/event", object: @friday[3] %></article></div>
          <div class="item row5 col7"><article><%= render partial: "events/event", object: @saturday[3] %></article></div>
          <div class="cell row6 col1">5</div>
          <div class="item row6 col2"><article><%= render partial: "events/event", object: @monday[4] %></article></div>
          <div class="item row6 col3"><article><%= render partial: "events/event", object: @tuesday[4] %></article></div>
          <div class="item row6 col4"><article><%= render partial: "events/event", object: @wednesday[4] %></article></div>
          <div class="item row6 col5"><article><%= render partial: "events/event", object: @thursday[4] %></article></div>
          <div class="item row6 col6"><article><%= render partial: "events/event", object: @friday[4] %></article></div>
          <div class="item row6 col7"><article><%= render partial: "events/event", object: @saturday[4] %></article></div>
          <div class="cell grid-footer">footer</div>
        </div>
      </div>
      <div>
        
      </div>
    </div>
  </div>
</div>
