<nav>
  <a href= <%= root_path %> class="brand">
    <span>Workflower</span>
  </a>
  <input id="bmenu" type="checkbox" class="show" />
  <label for="bmenu" class="burger toggle pseudo button">&#8801;</label>
  <div class="menu">
    <% if current_user %>
      <%= link_to 'Profile', profile_path, html_options = { class: "pseudo button" } %>
      <%= link_to 'Schedules', user_schedules_path(user_id: current_user.id), html_options = { class: "pseudo button" } %>
      <%= link_to 'Sign Out', signout_path, html_options = { class: "pseudo button" }  %>
    <% else %>
      <%= link_to 'Sign Up', signup_path, html_options = { class: "pseudo button" } %>
      <%= link_to 'Sign In', signin_path, html_options = { class: "pseudo button" } %>
    <% end %>
  </div>
</nav>
