<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= full_title(yield(:title)) %>
		</title>
		<%= render 'partials/meta_tags' %>
	</head>
	<body>
		<%= render 'layouts/sidebar' %>
		<main>
			<%= yield %>
		</main>
		<footer id="footer">
			<%= render 'layouts/footer' %>
		</footer>
			<%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
	</body>
</html>
