<!DOCTYPE html>
<html>
	<head>
		<%# begin Manually added head tags %>
    <title>
    	<%= full_title(yield(:title)) %>
    </title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<%# end   Manually added head tags %>

		<%# begin Turbolinks %>
		<%= stylesheet_link_tag 'application', 'media': 'all', 'data-turbolinks-track': 'reload' %>
		<%# end   Turbolinks %>
		
		<%# begin CSRF %>
		<%= csrf_meta_tags %>
		<%# end   CSRF %>

		<style type="text/css">
			.transparent {
				background: transparent;
				box-shadow: none;
			}

		</style>
	</head>
	<body>
		<%= render 'layouts/sidebar' %>
		<main>
			<%= yield %>
		</main>
		<footer id="footer">
			<article>
				<p>With <span style="color: salmon; font-weight: 800; font-size: 1.2em;">&#10084;</span> from <a href="//github.com/therealdevelopers">the Real Developers</a> and <%= link_to 'others', credits_url, html_options = { class: "" } %>.</p>
				<p>Workflower, 2017.</p>
			</article>
		</footer>
		<%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
	</body>
</html>
